name: cli
on:
  schedule:
    - cron: "0 1/6 * * *"

jobs:
  cli:
    runs-on: ubuntu-latest
    timeout-minutes: 355

    steps:
    - name: Install CLI
      run: |
        curl -fsSL https://cli.nexus.xyz/ | sh
        echo "$HOME/.nexus/bin" >> $GITHUB_PATH

    - name: Start
      run: |
        set -e
        NODE_ID=36902375

        SLEEP_SECONDS=20880

        nexus-cli start --node-id "$NODE_ID" --max-threads 2 --headless &
        NEXUS_PID=$!

        sleep "$SLEEP_SECONDS"

        kill "$NEXUS_PID" || true
